<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/spotcookie-regular" type="text/css"/>
			<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	{% endblock %}
</html>
